<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Kayıttut.Properties.Settings.TabloDeneDBConnectionString"
            connectionString="Data Source=EMRECEYHAN\SQLEXPRESS01;Initial Catalog=TabloDeneDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Kayıttut.Properties.Settings.bankaConnectionString"
            connectionString="Data Source=EMRECEYHAN\SQLEXPRESS01;Initial Catalog=banka;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Kayıttut.Properties.Settings.HanTürkDBConnectionString"
            connectionString="Data Source=EMRECEYHAN\SQLEXPRESS01;Initial Catalog=HanTürkDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>